@page
@model Bus_Route_Allocation_Core_Web_App.Pages.RouteAllocations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RouteAllocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RouteAllocation.BusId" class="control-label"></label>
                <select asp-for="RouteAllocation.BusId" class ="form-control" asp-items="ViewBag.BusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RouteAllocation.DriverId" class="control-label"></label>
                <select asp-for="RouteAllocation.DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RouteAllocation.RouteId" class="control-label"></label>
                <select asp-for="RouteAllocation.RouteId" class ="form-control" asp-items="ViewBag.RouteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
